<div data-role="header">


<h1>New customer</h1>

  <%= link_to 'Back', customers_path, {"data-icon" =>"back", "class" => "ui-btn-left", "data-theme"=>"b"} %>


  <!-- end .header --></div>

<div data-role="content" data-theme="a" data-transition= "flip">
  <ul data-role="listview"  data-inset="true">


<%= render 'form' %>

  </ul>
  <!-- end .content --></div>
